.red {
    background-color: red !important;
    margin: 0px !important;
    padding: 0px !important;
}

.green {
    background-color: green !important;
    margin: 0px !important;
    padding: 0px !important;
}